/* This modules has it's own grid for it's content but should still be considered a seperate module and not a port of the general layout
   because this module can be reused in any item position of the layout grid */
   
.contacts{
    display: grid;
    grid: auto / repeat(2, 1fr);

    text-transform: capitalize;
}

.contacts p{
    padding: 0.5rem;
}

.contacts p:first-of-type{
    grid-row: 1;
    grid-column: 1;

    border-right: var(--border-thin);
}

.contacts p:last-of-type{
    grid-row: 1;
    grid-column: 2;
}


