.details{
    display: flex;
    flex-direction: column;
    gap: 1em;

    font-size: 1.3em;
    margin-bottom: 2em;
}

/*
    Here position and placing the block element with top, margin, etc. makes good sense in regard to the strict rules for
    how the elements are positioned in relation to each other
*/
.details p:first-of-type{
    max-height: 5rem;
    padding:1em;

    border-left: var(--border-thin);

    text-align: left;
}

.details p:first-of-type span:nth-of-type(1){
    display: block;   

    position: relative;
    margin-bottom: -3em;
   
}

.details p:first-of-type span:nth-of-type(3){
    font-size: 4em;
}

.details p:first-of-type span:nth-of-type(4){
    font-size: 1em;
    text-transform: lowercase;
    font-style: italic;
}

.details p:last-of-type{
    text-transform: lowercase;
    font-family: var(--font-accent);
}

/*
    So this is designed to illustrate how you can (over)use pseudoselectors but an interesting topic to discuss would be whether this is flexible enough?
    Should the date maybe be a module in it self? and the curly text maybe be a reuse of the venue module with a new name?
    Should the description/time part be a reuse of the subject module with a new name?
*/